{% extends 'layout.html' %}

{% block title %}Home - Job Portal{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h2 class="text-center mb-4">Job Listings</h2>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <div class="row">
            

            <div class="d-flex justify-content-end align-items-center mb-3">
                <form method="GET" action="{{ url_for('jobListing') }}" class="d-flex">
                    <select class="form-select" name="sort_by">
                        <option value="date_posted" {% if request.args.get('sort_by') == 'date_posted' %}selected{% endif %}>Sort by Date Posted</option>
                        <option value="pay_rate" {% if request.args.get('sort_by') == 'pay_rate' %}selected{% endif %}>Sort by Pay Rate</option>
                    </select>
                    <button class="btn btn-outline-primary ms-2" type="submit">Sort</button>
                </form>
            </div>
            
            <!-- Job Listing 1 -->
            {% if job_listings %}
            <!-- Display job listings -->
            {% for job in job_listings %}
                <div class="col-md-4 mb-5">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ job.title }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Rate: Rs.{{ job.pay_rate }}</h6>
                            <p class="card-text"><strong>Location:</strong> {{ job.location }}</p>
                            <p class="card-text"><strong>Category:</strong> {{ job.category }}</p>
                            <p class="card-text"><strong>Posted on:</strong> {{ job.created_at }}</p>
                            <p class="card-text">{{ job.description }}</p>
                            <a href="{{ url_for('apply_for_job', job_id=job.id) }}" class="btn btn-success">Apply Job</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <!-- No job listings found -->
            <div class="col-12 text-center">
                <h4>No job listings found at the moment.</h4>
            </div>
        {% endif %}
        
        </div>


       
    </div>

    {% endblock %}
