{% extends 'layout.html' %}

{% block title %}Home - Job Portal{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h2 class="text-center mb-4">Job Listings</h2>

        <div class="row">
            <!-- Job Listing 1 -->
            
            {% for job in job_listings %}
            <!-- Job Listing 6 -->
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{job.title}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{job.pay_rate}}</h6>
                        <p class="card-text"><strong>Location:</strong> {{job.location}}</p>
                        <p class="card-text">{{job.description}}</p>
                        <a href="{{ url_for('apply_for_job', job_id=job.id) }}" class="btn btn-primary">Apply</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>


       
    </div>

    {% endblock %}
